{{#*inline "body" }}

<div class="oops">
  <span>Oops!</span>
</div>
<div class="content">
  <p>You've clicked on a bad link or entered an invalid URL.</p>
  <p>Please make sure you entered the right URL.</p>
</div>

{{/inline}}

{{>error_layout}}
