{{#*inline "body" }}

<div class="oops">
  <span>Huh...</span>
</div>
<div class="content">
  <p>The page can't be displayed because the site's server can't handle the request</p>
  <p>or your system may be timing out while trying to complete the process.</p>
</div>

{{/inline}}

{{>error_layout}}
